/* For WebKit-based browsers (like Chrome and Safari) */
.scroll::-webkit-scrollbar {
    width: 7px;
}

.scroll::-webkit-scrollbar-thumb {
    background: rgb(138, 138, 138);
}

/* For Firefox */
@-moz-document url-prefix() {
    .scroll {
        scrollbar-width: thin;
        scrollbar-color: rgb(138, 138, 138) transparent;
    }
}
